@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body {
    background-image: url("");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.container {
    width: 95%;
    max-width: 450px;
    background: #000000d3;
    border-radius: 25px;
    padding: 20px;
}

.inputCity {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    width: calc(100% - 70px);
}

.btnSearch {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    background: #7c7c7c2b;
    cursor: pointer;
    float: right;
    width: 40px;
    height: 40px;
}

.iconSearch {
    width: 20px;
}

.resultsOfSearch {
    margin-top: 30px;
}

.city {
    display: inline;
    font-size: 28px;
    font-weight: 300;
}

.iconFlag {
    margin-left: 10px;
    width: 28px;
}

.thermostat {
    margin-top: 20px;
    margin-right: 5px;
}

.temp {
    display: inline;
    font-size: 21px;
    align-items: baseline;
}

.preview {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.textPreview {
    margin-left: 20px;
    text-transform: capitalize;
}

.viewMore {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.humidity, .air {
    display: inline;
    padding: 0 20px 0 5px;
    border-right: 1px solid #fff;
}

.air {
    border: none;
}

.iconAir {
    padding-left: 20px;
}




@media screen and (max-width: 480px) {
    .city {
        font-size: 22px;
    }

    .iconFlag {
        width: 22px;
    }

    .thermostat, .temp, .imgPreview, .textPreview, .humidity, .air {
        font-size: 15px;
    }

}